html{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    text-align: center;
    line-height: 1.5;
}

h1 {
    font-size: 2.5em;
}

.wrapper {
	width: 80%;
	max-width: 800px;
	margin: 0 auto;
	padding: 0;
	overflow: auto;
}





nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e9e9e9;
    background-color: #f4f4f4;
}

nav li {
    float: left;
    border-right: 1px solid #e9e9e9;
}

nav li:last-child {
    border-right: none;
}

nav li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover:not(.active) {
    background-color: #ddd;
}

nav li a.active {
    color: white;
    background-color: #08c;
}




#how_many_paragraphs, #how_many_users {
    width: 6em;
    height: 3em;
}

.errors {
    color: #F00;
}


.generated_password {
    background-color: #3cf;
    padding: 1em 2em;
}

.error_message {
    background-color: orange;
    padding: 1em;
    width: 70%;
    margin: 1em auto;
}

.button-submit {
    text-align: center;
    display: inline-block;
    padding: 10px 40px;
    font-size: 1em;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: #fff;
    border: none;
    background-color: #093;
    margin: 0.5em;
}
.button-submit:hover {
    background-color: #082;
}

.button-reset {
    text-align: center;
    display: inline-block;
    padding: 8px 15px;
    font-size: 0.8em;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: #000;
    border: none;
    background-color: #ddd;
    margin: 0.5em;
}
.button-reset:hover {
    background-color: #ccc;
}

fieldset {
    margin: auto;
    width: 300px;
    text-align: left;
}

label {
    margin: 0.5em;
    padding: 0.5em;
    line-height: 1.8em;
}

label:hover {
    text-decoration: underline;
}

.dropdown {
    padding: 0.3em;
    margin: 0.2em;
}
